.product_cointainer{
    margin: 0 10% 0 10%;
    padding-bottom: 200px;
    justify-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));    
    div{
        display: flex;
        flex-direction: column;
        img{
            height: 300px;
            width: 300px;
            object-fit: cover;
        }
    }
}